models/*
!models/dump.txt

dataloader/*
!dataloader/dump.txt

utils/*
!utils/dump.txt

# dev jupyter
*.ipynb

# jupyter and python 
**/.ipynb_checkpoints/
**/__pycache__/

# test directory
temp/

# test speech sound
**/*.raw
**/*.wav
